    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group has-feedback">
    <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" ,placeholder: "メールアドレス"%>
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback">
    <%= f.password_field :password, class: "form-control", autofocus: true, autocomplete: "current-password" ,placeholder: "パスワード"%>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>
  <div class="row">
    <% if devise_mapping.rememberable? %>
      <div class="col-xs-8">
        <div class="checkbox icheck">
          <label>
            <%= f.check_box :remember_me %> ログイン情報を保存する
          </label>
        </div>
      </div>
    <% end %>
    <!-- /.col -->
    <div class="col-xs-4">
      <button type="submit" class="btn btn-primary btn-block btn-flat">ログイン</button>
    </div>
    <!-- /.col -->
  </div>
<% end %>
